$main-font: 'Lato', sans-serif; 

#mySidenav a {
    position: absolute;
    left: -85px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border-radius: 0 5px 5px 0;
    font-family: $main-font;
    font-weight: 1000;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #home {
    top: 20px;
    background-color: #bcf4f5;
  }
  
  #about {
    top: 80px;
    background-color: #b4ebca;
  }
  
  #contact {
    top: 140px;
    background-color: #d9f2b4;
  }
  
  #projects {
    top: 200px;
    background-color: #d3fac7;
  }

