$main-font: 'Montserrat', sans-serif;
$heading-font: 'Quicksand', sans-serif;

/* Navbar styling starts here */
#mySidenav a {
    position: fixed;
    left: -85px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    border-radius: 0 5px 5px 0;
    font-family: $main-font;
    font-weight: 800;
    z-index: 1;
    }
    
  #mySidenav a:hover {
    left: 0;
  }

  #home {
    top: 20px;
    background-color: #55D6BE;
  }
  
  #blog {
    top: 80px;
    background-color: #0496FF;
  }
  
  #contact {
    top: 140px;
    background-color: #FFBC42;
  }
  
  #projects {
    top: 200px;
    background-color: #397367;
  }

  #github {
    bottom: 20px;
    background-color: #55D6BE;
  }
  
  #twitter {
    bottom: 80px;
    background-color: #0496FF;
  }
  
  #linkedin {
    bottom: 140px;
    background-color: #FFBC42;
  }
  
  #medium {
    bottom: 200px;
    background-color: #397367;
  }
/* Navbar styling ends here */

.main-heading { /*styling for h1*/
  text-align: center;
  font-family: $heading-font;
  font-size: 100px;
  margin: 0px;
  padding: 0px;
  line-height: 2;
}

.main-heading a { /*removes link underline and link colour*/
  text-decoration: none;
  color: inherit;
}

.sub-heading  { /*styling for multiple smaller headings*/
  text-align: center;
  font-family: $heading-font;
  margin: 30px 0px 0px 0px;
  padding: 0px;
  font-size: 70px;
}

.header-style {
  background-color: #DAD2D8;
  height: 230px;
  padding: 0px;
  margin: 0px;
}

.footer-style {
  position: relative;
  padding: 0px;
  margin: 0px;
  height: auto;
}

.main-text  {
  text-align: center;
  width: 80%;
  font-size: 30px;
  font-family: $main-font;
  font-weight: 500;
  margin: 20px auto auto auto;
}

body  {
  position: relative;
  background: #F2F3EB;
  margin: 0px;
  padding: 0px;
}

.logo-container { /*nested techologies list styling*/

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5% 15% 5% 15%;

  section {
    text-align: center;
  }

  h4  {
    font-family: $heading-font;
    font-size: 30px;
    }
}

.logo  { /*further technologies list styling*/
  height: 350px;
  width: 350px;
  margin: auto 10px auto 10px;
}

#node-logo  { /*node logo made slightly wider due to non-square image*/
  width: 450px;
}

/*Nested blog styling*/
.blog-posts { 

section {
  display: flex;
  flex-direction: column;
  align-items: center;;
  text-align: center;
  }

h4  {
  font-family: $heading-font;
  font-size: 50px;
  }

p {
  font-family: $main-font;
  margin: 60px 60px 0px 60px;
  font-size: 30px;
  }

h5 {
  font-family: $heading-font;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  font-size: 20px;
  }
}
.blog-image { /*further blog styling*/
  height: 350px;
  width: 350px;
}

.project-list { /*nested projects styling*/

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5% 15% 5% 15%;

  section {
    text-align: center;
  }

  h4  {
    font-family: $heading-font;
    font-size: 30px;
    }
  
  p {
    font-family: $main-font;
    margin: 0px 0px 0px 42px;
    font-size: 16px;
    }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.project-image  { /*further proects styling*/
  height: 350px;
  width: 350px;
  filter: brightness(50%);
  margin: auto 10px auto 10px;
}

/* Form styling starts here....its long */

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#form-container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
  font-family: $heading-font;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.contact-heading {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -8.2px auto;
  width: 80px;
}

.icon-wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 14px 0px;
  text-transform: uppercase;
	width: 100%;
	box-sizing: border-box;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0px 0px 14px 0px;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  outline: none;
}

.subject {
  width: 100%;
}

.phone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: $main-font;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
} /*form styling ends here*/

.resume { /*styling for resume button starts here*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 40px auto;

}

button {
  position: relative;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  &.resume-button {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 10px 24px;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 12px;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #f9c4d2;
      border-radius: inherit;
      box-shadow: 0px 0px 0px 2px #b18597, 0px 8px 0px 0px #ffe3e2;
      transform: translate3d(0px, 12px, -16px);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: #ffe9e9;
      transform: translate(0px, 3px);
      &::before {
        box-shadow: 0px 0px 0px 2px #b18597, 0px 8px 0px 0px #ffe3e2;
        transform: translate3d(0px, 8px, -16px);
      }
    }
    &:active {
      background: #ffe9e9;
      transform: translate(0px, 12px);
      &::before {
        box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
        transform: translate3d(0px, 0px, -16px);
      }
    }
  }
} /*styling for resume button ends here*/

.copyright  {
  float: right;
}

@media screen and (max-width: 1200px) { /*media breakpoint for tablets*/
  #form-container {
    margin: 20px auto;
    width: 75%;
  }

  .blog-posts {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;;
    text-align: center;
    }
  
  h4  {
    font-family: $heading-font;
    font-size: 40px;
    margin: auto auto 0px auto;
    }
  
  p {
    font-family: $main-font;
    margin: 0px 42px 60px 42px;
    font-size: 20px;
    }

  h5 {
    font-family: $heading-font;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
  }
  }

  .project-list { /*nested projects styling*/

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5% 5% 5% 5%;
  
    section {
      text-align: center;
    }
  
    h4  {
      font-family: $heading-font;
      font-size: 30px;
      }
    
    p {
      font-family: $main-font;
      margin: 0px 0px 0px 42px;
      font-size: 16px;
      }
  
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  
  .project-image  { /*further proects styling*/
    height: 300px;
    width: 300px;
    filter: brightness(50%);
    margin: auto 10px auto 10px;
  }  

.logo-container {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  h4  {
    font-family: $heading-font;
    font-size: 30px;
    }
}

.main-text {
  font-family: $main-font;
  margin: 0px auto 0px auto;
  font-size: 30px;
  text-align: center;
  }

.logo  {
  height: 300px;
  width: 300px;
}

#node-logo  { /*node logo made slightly wider due to non-square image*/
  width: 450px;
}

  .blog-image {
    height: 300px;
    width: 300px;
  }
  .main-heading {
    text-align: center;
    font-family: $heading-font;
    font-size: 100px;
    margin: 0px 100px 0px 100px;
    padding: 0px;
    line-height: 1;
  }

  .main-heading a {
    text-decoration: none;
    color: inherit;
  }

  .sub-heading  {
    text-align: center;
    font-family: $heading-font;
    margin: 30px 0px 30px 0px;
    padding: 0px;
    font-size: 70px;
  }
}

@media screen and (max-width: 500px) { /*media breakpoint for phones*/
  .contact-heading {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 14px;
  }

  #form_button {
    padding: 15px 25px;
  }


#form-container {
  margin: 20px auto;
  width: 75%;
}

.blog-posts {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;;
    text-align: center;
    }
  
  h4  {
    font-family: $heading-font;
    font-size: 35px;
    margin: 20px auto auto auto;
    }
  
  p {
    font-family: $main-font;
    margin: 0px 42px 40px 42px;
    font-size: 16px;
    }

  h5 {
    font-family: $heading-font;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
  }
  }

.project-list {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  h4  {
    font-family: $heading-font;
    font-size: 20px;
    }
  
  p {
    font-family: $main-font;
    margin: 0px 42px 0px 42px;
    font-size: 16px;
    }
  
  a {
    text-decoration: none;
    color: inherit;
  }
}

.project-image  {
  height: 250px;
  width: 250px;
  filter: brightness(50%);
}

.logo-container {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  h4  {
    font-family: $heading-font;
    font-size: 30px;
    }
}

.main-text {
  font-family: $main-font;
  margin: 0px 42px 0px 42px;
  font-size: 20px;
  }

.logo  {
  height: 250px;
  width: 250px;
}

#node-logo  { /*node logo made slightly wider due to non-square image*/
  width: 300px;
  height: 200px;
}

  .blog-image {
    height: 200px;
    width: 200px;
  }
  .main-heading {
    text-align: center;
    font-family: $heading-font;
    font-size: 80px;
    margin: 0px;
    padding: 0px;
    line-height: 1;
  }

  .main-heading a {
    text-decoration: none;
    color: inherit;
  }

  .sub-heading  {
    text-align: center;
    font-family: $heading-font;
    margin: 30px 0px 0px 0px;
    padding: 0px;
    font-size: 40px;
  }

  #tech-heading {
    font-size: 35px;
  }
}