$main-font: 'Lato', sans-serif;
$heading-font: 'Quicksand', sans-serif;


#mySidenav a {
    position: absolute;
    left: -85px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border-radius: 0 5px 5px 0;
    font-family: $main-font;
    font-weight: 1000;
  }
    
  #mySidenav a:hover {
    left: 0;
  }

  #home {
    top: 30px;
    background-color: #bcf4f5;
  }
  
  #about {
    top: 90px;
    background-color: #b4ebca;
  }
  
  #contact {
    top: 150px;
    background-color: #d9f2b4;
  }
  
  #projects {
    top: 210px;
    background-color: #d3fac7;
  }

.main-heading {
  text-align: center;
  font-family: $heading-font;
  font-size: 40px;
}

.header-style {
  background-color: #DAD2D8;
  height: 320px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  
}

